// required to get $orange variable
@import "../dist/bootstrap-5.3.1/scss/functions"; 
@import "../dist/bootstrap-5.3.1/scss/variables";

// Set color scheme here.
$primary: #F36527; // set the $primary variable

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));

// set changes
@import "../dist/bootstrap-5.3.1/scss/bootstrap";


html {
  caret-color: transparent;
}

.nav-link {
  color: black;
}

.nav-pills {
  .nav-link.active {
      color: black;
      background-color: white;
  }
}


.nav {
  --bs-nav-link-hover-color: black;
}

.banner_image {
  background-image: url('../images/banner4.jpg');
  background-size: cover;
  height: 30rem;
    @media screen and (max-width: 768px) {
      flex:1
    }
}

.banner_image {
  * {
    color: lightgrey;
  }
  
  h1 {
    color: lightgrey;
  }
}

.header_hero_banner {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

.card-img-top {
  height: 300px; /* Adjust the height as needed */
  width: 300px;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  margin: 0 auto; /* Horizontally center the image */
}



// Services Page

//.service_banner {
//  background-image: url('../images/banner4.jpg');
//}

// .feature_hero {
//   height: 100vh;
// }

.feature_hero  {
  opacity: 0;
  transition: opacity 3s; 
}

.feature_hero.in-viewport {
  opacity: 1;
}

// About Page

.about_banner {
  background-image: url('../images/banner4.jpg');
}

// Contact Page

.contact_banner {
  background-image: url('../images/banner4.jpg');
}

.card {
  border: none
}


.card-img-top {
  border-radius: 5px;
}